language: python
python:
        - "3.6"

before_install:
        - pip install poetry
        - pip install pytest-cov

before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-darwin-amd64> ./cc-test-reporter
        - chmod +x ./cc-test-reporter

install:
        - make configure

script:
        - make check
        - make lint
        - poetry run pytest --cov=gendiff tests/test_json.py --cov-report xml


