language: python
python:
        - "3.6"
env:
  global:
    - CC_TEST_REPORTER_ID=700e8119890af7bdd8ed121e16c4dcd4db674cf11fc6d256aacf6720f9ef5f63

before_install:
        - pip install poetry
        - pip install pytest-cov

before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-darwin-amd64> ./cc-test-reporter
        - chmod +x ./cc-test-reporter

install:
        - make configure

script:
        - make check
        - make lint
        - poetry run pytest --cov=gendiff tests/ --cov-report xml


